{{#if gameDice}}
<div class="square"></div>
<img class=bennyPicture src="https://web.engr.oregonstate.edu/~perezalj/Benny/Beaver" alt="Benny">
<div>
	<button class="roll-button">ROLL!</button>
</div>
<div class="roll-results"></div>
<div class=timeBox></div>

{{/if}}