<img class="bennyPicture leftPicture" src="https://web.engr.oregonstate.edu/~perezalj/Benny/Beaver" alt="Benny">
<img class="bennyPicture rightPicture" src="https://web.engr.oregonstate.edu/~perezalj/Benny/Beaver" alt="Benny">
<div class="option-container-block">
	<div class="option-container orange">
		<div class="color-option-buttons">
			<p class="color-header">Style</p>

			<button class="color-button orange">orange</button>
			<button class="color-button blue">blue</button>
			<button class="color-button yellow">yellow</button>
			<button class="color-button green">green</button>
			<button class="color-button red">red</button>
			<button class="color-button purple">purple</button>
		</div>

		<div class="game-option-buttons">
			<p class="game-option-title">Select Your Options Here</p>
			<div class="players">
				<p class="game-option-name">Number Of Players</p>
				<div class="number-player-input">
					<input type="number" id="players" name="Players" step="1" min="1" max="4" value="1">
					<!--Text box always shows a value of 1-->
				</div>
				<!--Range of players are between 1-4 (change range if more players)-->
				<button class="playerInfo">Enter Player Info</button>
			</div>

			<div class="timer">
				<p class="game-option-name">Timer</p>
				<fieldset class="radio-buttons">

					<input type="radio" id="timer-yes" name="Timer" value='yes'>
					<label for="timer-yes">Yes</label>

					<input type="radio" id="timer-no" name="Timer" value='no' checked='checked'>
					<label for="timer-no">No</label>

				</fieldset>
			</div>

			<div class="points">
				<p class="game-option-name">Point Counter</p>
				<fieldset class="radio-buttons">

						<input type="radio" id="points-yes" name="Points" value='yes'>
						<label for="points-yes">Yes</label>

						<input type="radio" id="points-no" name="Points" value='no' checked='checked'>
						<label for="points-no">No</label>

				</fieldset>
			</div>

			<div class="dice">
				<p class="game-option-name">Dice</p>
				<fieldset class="radio-buttons">

						<input type="radio" id="dice-yes" name="Dice" value='yes'>
						<label for="dice-yes">Yes</label>

						<input type="radio" id="dice-no" name="Dice" value='no' checked='checked'>
						<label for="dice-no">No</label>

				</fieldset>
			</div>	

					<button class="accept-button">Confirm Options</button>

					<!-- The Modal -->
					<div id="myModal" class="modal">

						<!-- Modal content -->
						<div class="modal-content">
							<span class="close">&times;</span>
							<p class="modalHeader">Player Info</p>

							<!-- Could possibly break up into handlebar depending on how many players are selected. -->
							<!--Placeholder for now-->
							<section id="infoPlayers">
								<div class="num-player">
									<p class="person">Player 1</p>
									<div class="player-input-user">
										<label for="username">Username: </label>
										<input type="text" id="username"></input>
									</div>
									<div class="player-input-url">
										<label for="pictureURL">Avatar URL:</label>
										<input type="text" id="pictureURL"></input>
									</div>
									</class>

									<div class="num-player">
										<p class="person">Player 2</p>
										<div class="player-input-user">
											<label for="username">Username: </label>
											<input type="text" id="username"></input>
										</div>
										<div class="player-input-url">
											<label for="pictureURL">Avatar URL:</label>
											<input type="text" id="pictureURL"></input>
										</div>
										</class>

										<div class="num-player">
											<p class="person">Player 3</p>
											<div class="player-input-user">
												<label for="username">Username: </label>
												<input type="text" id="username"></input>
											</div>
											<div class="player-input-url">
												<label for="pictureURL">Avatar URL:</label>
												<input type="text" id="pictureURL"></input>
											</div>
											</class>

											<div class="num-player">
												<p class="person">Player 4</p>
												<div class="player-input-user">
													<label for="username">Username: </label>
													<input type="text" id="username"></input>
												</div>
												<div class="player-input-url">
													<label for="pictureURL">Avatar URL:</label>
													<input type="text" id="pictureURL"></input>
												</div>
												</class>
							</section>
							<button id="submitBtn">Submit</button>
						</div>
					</div>
			</div>
		</div>
	</div>