


<div class="playerContainer" id="player{{playerNumber}}">
	<div class="playername">
	{{name}}
	</div>
	<img src="{{url}}" alt="Custom Image" class="playerImage">
	{{#if points}}
	<div class="scoreText">
		<p>SCORE: </p>
	</div>
	

	<div class="score-box"></div>
	<button class="nextButton">⏭</button>
	<button class="addPointsButton">▲</button>
	<button class="deductPointsButton">▼</button>
	{{/if}}
 </div>






















