


<div class="playerContainer {{color}}" id="player{{playerNumber}}">
	<div class="playername">
	{{name}}
	</div>
	<img src="{{url}}" alt="Custom Image" class="playerImage">
	{{#if points}}
	<!-- the score was surrounded by a <p></P> which prevented styling-->
	<div class="scoreText">
		SCORE: 
	</div>
	
<!--switched top line from div to input and added the type and value-->
	<input class="score-box" type="number" value ="0">
	<button class="nextButton">⏭</button>
	<button class="addPointsButton">▲</button>
	<button class="deductPointsButton">▼</button>
	{{/if}}
 </div>






















