h1 {
	margin-left: 130px;
}

a {
	text-decoration: none;
	color: black;
}
.option-container {
  border-style: solid;
  border-width: 10px;
  display: grid;
  grid-template-columns: 20px 330px;
  grid-column-gap: 150px;
  max-width: 500;
  max-height: 600;
  background-color: rgb(200, 255, 232);
}

.color-option-buttons {
	margin-left: 25px;
}

.accept-button {
  max-width: 100px;
  max-height: 40px;
  display: absolute;
  bottom: 30px;
  margin-top: 50px;
  margin-left: 30px;
  margin-bottom: 20px;
}

.game-option-name {
  font-size: 20px;
  border-style: inset;
  width: 200px;
  text-align: center;
}

.radio-yes{
	display: inline-block;
}

.radio-no{
	display: inline-block;
}

.color-header {
	margin-left: 8px;
}

.color-button {
  padding: 0;
  border: none;
  width: 50px;
  height: 50px;
}

.color-button-purple {
  background-color: purple;
  color: purple;
  border: none;
  width: 50px;
  height: 50px;
  margin-top: 10px;
}

.color-button-white {
  background-color: white;
  color: white;
  border: none;
  width: 50px;
  height: 50px;
  margin-top: 10px;
}

.color-button-black {
  background-color: black;
  color: black;
  border: none;
  width: 50px;
  height: 50px;
  margin-top: 10px;
}

.color-button-blue {
  background-color: blue;
  color: blue;
  border: none;
  width: 50px;
  height: 50px;
  margin-top: 10px;
}

.color-button-yellow {
  background-color: yellow;
  color: yellow;
  border: none;
  width: 50px;
  height: 50px;
  margin-top: 10px;
}

.color-button-green {
  background-color: green;
  color: green;
  border: none;
  width: 50px;
  height: 50px;
  margin-top: 10px;
}