h1 {
  margin-left: 130px;
}

a {
  text-decoration: none;
  color: black;
}

.option-container {
  border-style: solid;
  border-width: 10px;
  display: grid;
  grid-template-columns: 20px 330px;
  grid-column-gap: 150px;
  max-width: 500;
  max-height: 600;
}

.color-option-buttons {
  margin-left: 25px;
}

.accept-button {
  max-width: 100px;
  max-height: 40px;
  display: absolute;
  bottom: 30 px;
  margin-top: 50px;
}

.game-option-name {
  font-size: 20px;
  border-style: inset;
  width: 200px;
  text-align: center;
}

/* .radio-buttons {} do stuff here i guess*/

.radio-yes {
  display: inline-block;
}

.radio-no {
  display: inline-block;

}


/*
*Changes here - Dylan
*Tried reverting it back to how @Forrest did it, but couldn't get it to work.
*Please change back.
*/
.color-button {
  padding: 0;
  border: none;
  width: 50px;
  height: 50px;
  margin-top: 10px;
}

.color-button.purple {
  background-color: purple;
  color: purple;
}

.color-button.white {
  background-color: white;
  color: white;
}

.color-button.black {
  background-color: black;
  color: black;
}

.color-button.blue {
  background-color: blue;
  color: blue;
}

.color-button.yellow {
  background-color: yellow;
  color: yellow;
}

.color-button.green {
  background-color: green;
  color: green;
}