/* Center the header*/
h1 {
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
  color: black;
}

/* Size of input box*/
#players {
  width: 50px;
  margin-left: 75px;
}

/*Always show arrows in input text box*/
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  

   opacity: 1;

}

/* Center Game Pal container*/
.option-container-block {
  display: flex;
  justify-content: center;
}

.option-container {
  border-style: solid;
  border-width: 10px;
  display: grid;
  grid-template-columns: 20px 330px;
  grid-column-gap: 150px;
  max-width: 500;
  max-height: 600;
  background: rgb(199, 235, 222); /* Model background color
                                    subject to change */             
}

.color-option-buttons {
  margin-left: 25px;
}


.color-header {
  margin-left: 6px;
  margin-bottom: 5px;
  font-weight: bold;
  text-decoration: underline;
  font-size: 18px;
}

.game-option-title {
  margin-left: 5px;
  font-weight: bold;
  text-decoration: underline;
  font-size: 18px;
}

.accept-button {
  max-width: 100px;
  max-height: 40px;
  display: absolute;
  margin-bottom: 30px;
  margin-top: 50px;
  margin-left: 50px;
}

.game-option-name {
  font-size: 20px;
  border-style: inset;
  width: 200px;
  text-align: center;
}

.radio-buttons {
  width: 100px;
  margin-left: 50px;
}

.radio-yes {
  display: inline-block;
}

.radio-no {
  display: inline-block;
}

/* Added border to color buttons so
  you can see the colors more easily
  */
.color-button {
  padding: 0;
  border: 2px solid black;
  width: 50px;
  height: 50px;
  margin-top: 10px;
}

.color-button.purple {
  background-color: purple;
  color: purple;
}

.color-button.white {
  background-color: white;
  color: white;
}

.color-button.black {
  background-color: black;
  color: black;
}

.color-button.blue {
  background-color: blue;
  color: blue;
}

.color-button.yellow {
  background-color: yellow;
  color: yellow;
}

.color-button.green {
  background-color: green;
  color: green;
}